<!DOCTYPE html>
<html>
<head>
	<title>main page</title>
	<link rel="stylesheet" type="text/css" href="css\style.css">
	<meta charset="utf-8">
</head>
<body>
	<li onClick="alert(this.innerHTML)">1111</li>
<div id="main">
	<div id="result">
		<input type="text" id="text" v-model='textArea'>
			<div id="but">
				<button id="buttonChar" @click="charClickButton">(</button>
				<button id="buttonChar" @click="charClickButton">)</button>
				<button id="buttonChar" @click="charClickButton">%</button>
				<button id="buttonChar" @click="resetText">CE</button>
				<button id="buttonNum" @click="numClickButton">7</button>
				<button id="buttonNum" @click="numClickButton">8</button>
				<button id="buttonNum" @click="numClickButton">9</button>
				<button id="buttonChar" @click="charClickButton">/</button>
				<button id="buttonNum" @click="numClickButton">4</button>
				<button id="buttonNum" @click="numClickButton">5</button>
				<button id="buttonNum" @click="numClickButton">6</button>				
				<button id="buttonChar">x</button>				
				<button id="buttonNum" @click="numClickButton">1</button>				
				<button id="buttonNum" @click="numClickButton">2</button>				
				<button id="buttonNum" @click="numClickButton">3</button>				
				<button id="buttonChar" @click="charClickButton">-</button>				
				<button id="buttonNum" @click="numClickButton">0</button>				
				<button id="buttonChar" @click="point">.</button>				
				<button id="buttonEq" @click="endResult">=</button>				
				<button id="buttonChar" @click="charClickButton">+</button>				
			</div>
		
	</div>
	<ul>
		<li v-for= "a in resultData">{{ a }}</li>
	</ul>
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="scripts/SuperScript.js"></script>
</html>